 /* #004169 azul */
        /* #AC0135 vermelho */
        @charset "utf-8";

        :root{
            --vermelhoMega: #AC0135;
            --azulMega: #004169;
            --fonteMega: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        }
        *{
            margin: 0px;
            padding: 0px;
            font-family: var(--fonteMega);
        }
        header{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
           /* background-color: gray; */
            max-width: 100%;
            /* height: 50px; */
            margin-top: 20px;
            /* margin-bottom: 20px; */
            border-bottom: 1px solid var(--azulMega);

            & .imgMega{
              width: 270px;  
              height: auto;
            }
            & div{
                margin: 10px;
            }
            & h1{
                font-size: 18px;
            }
        }
        main{
            display: flex;
            flex-direction: column;
            justify-items: center;
            align-items: center;
        }

  
        #gifHomeSection{
            display: flex;
            flex-direction: column;
            justify-items: center;
            align-items: center;
        }
        #gifHome{
            /* display: flex;
            flex-direction: column;
            justify-items: center;
            align-items: center; */
            width: 100vw;
            /* background-color: var(--azulMega); */
            height: 65vh;
            padding:0;
            background-image: url(../img/leilao.gif);
            background-size:100%;
            background-repeat: no-repeat;
            background-position: center center;
            /* background-attachment: fixed; */
            background-size: cover;

          
        }
        h1{
            color: var(--vermelhoMega);
            font-size: x-large;
        }
        #fotosLeilao{
            margin-top: 20px;
            margin-bottom: 20px;
        }
        .carousel-inner{
            max-width: 220px;
        }
        .d-block{
            border-radius: 20px;
        }
        
        #voltaHome{
            position: relative;
            right: 42%;
            bottom: 41%;
            background-image: url(../img/seta.png);
            background-position: center center;
            background-repeat: no-repeat;
            background-size: contain;
            width: 45px;
            height: 45px;
        }

        .botaoLeilao{
            background-color: var(--azulMega);
            color: white;
            border-radius: 12px;
            border-style: none;
            max-width: 100px;
            height: 40px;
            text-decoration: none;
            text-align: center;
            margin: 6px;
            & .p1{
                margin: 6px;
            }
        }
        .leilao{
            border: 1px solid #00416954;
            box-shadow: 0px 0px 8px #0041694d;
            border-radius: 20px;
            /* width: 400px; */
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            margin-top: 10px;
            margin: 10px 10px 10px 10px;
            & .infoLeilao{
                margin-bottom: 10px;
            }
        }
        #sectionLeiloes{
            margin: 20px 0px 20px 0px;
        }

        .infoLeilao{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: LEFT;
            margin: 8px;
            & P{
                max-width: 300PX;
            }
        }
        #homePC{
            visibility: hidden;
        }
        .FormLeilao{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: left;
            margin: 40px;
        }

        #PHome{
            visibility: hidden;
        }

        .esconder{
            visibility: hidden;
        }

        .disabled {
            pointer-events: none; /* Desativa cliques */
            color: gray; /* Muda a cor para indicar que está desativado */
            text-decoration: none; /* Remove sublinhado */
        }

        #contador{
            
            font-size: 1.5rem;
            margin-bottom: -68PX;
            text-align: left;
            max-width: 300px;
            display: flex;
            justify-content: center;
        }

        .nomeComprador{
            color: var(--azulMega);
            font-size: 0.9rem;
        }

        .ultimoLance{
            color: rgb(82, 133, 7);
            font-size: 0.9rem;
        }

     
        #logoZap{
            /* position: relative; */
            position: fixed;
            right: 3%;
            bottom: 4%;
            background-image: url(../img/dummy-geschichte.jpg);
            background-size: 58px;
            background-position: center center;
            background-repeat: no-repeat;
            background-attachment: contain;
            width: 59px;
            height: 59px;
            border-radius: 50%;
            background-color: #ffffff;
        }

        #fraseAjuda{
            background-color: var(--azulMega);
            position: fixed;
            right: 4%;
            bottom: 4%;
            width: 52px;
            height: 18px;
            border-radius: 6px;
            z-index: 1;
            text-align: center;
            & p{
                color: white;
                font-size: 0.7rem;
            }
        }

        #mainPG02{
            display: flex;
            flex-direction: column;

            & div{
                margin-top: 70px;
                max-width: 500px;
                height: auto;

            }
        }